---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const travelCollection = await getCollection("travel");
---

<Main showLanguageSwitcher={false} title="Travel">
  <style>
    .date {
      font-style: italic;
      font-size: 0.8em;
    }
  </style>
  <h2>Travel</h2>
  <p>Here you can find all my articles related to travel.</p>
  <p>
    I love travelling, I love getting to explore new places, try new foods and
    talking to people that I cross paths with.
  </p>
  <p>
    Travelling isn't always easy, all sorts of things can go wrong like
    cancelled trains (it's happened to me multiple times) but there's always a
    story to share and something to take away from the trip.
  </p>
  <p>
    If you want to talk all things travel and to exchange experiences then you
    can reach me on instagram <strong
      ><a href="https://www.instagram.com/abisummers/">@abisummers</a></strong
    >!
  </p>
  <div>
    <h3>Slow travel</h3>
    <p>Here I talk about all things slow travel. For me, slow travel is about staying in one place for longer rather than visiting lots of places and also visitng smaller, less known places. I do this by travelling by bike and train.</p>
    {
      travelCollection.filter(article => article.data.tags.includes('slow-travel')).map((article) => {
        if (article) {
          return (
            <li value={article.data.title}>
              <!-- prettier-ignore -->
              <a href={`/articles/travel/${article.slug}/`}
                >{article.data.title}</a
              >: {article.data.intro}
            </li>
          );
        }
      })
    }
  </div>
  <div>
    <h3>Blog</h3>
    <p>I enjoy writing, so here you can find some of my blogs that are related to specific trips or events that I've been to.</p>
    {
      travelCollection.filter(article => article.data.tags.includes('blog')).map((article) => {
        if (article) {
          return (
            <li value={article.data.title}>
              <!-- prettier-ignore -->
              <a href={`/articles/travel/${article.slug}/`}
                >{article.data.title}</a
              >: {article.data.intro}
            </li>
          );
        }
      })
    }
  </div>
  
</Main>
