---
import { getCollection } from "astro:content";
import Main from "../../layouts/article.astro";
// import latinize from 'latinize'

const alphabet = await getCollection("alphabet-ile-de-france");

const museums = (await getCollection("museums")).map((m) => {
  return {
    title: `${m.data.museumName}: ${m.data.exhibitionName}`,
    intro: m.data.intro,
    url: `./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`,
    // url: latinize(`./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`),
  };
});

const travel = (await getCollection("travel")).map((article) => {
  return {
    title: article.data.title,
    intro: article.data.intro,
    url: `./travel/${article.data.title.replace(/\s+/g, "-").toLowerCase().replace(/\---/g, "-")}`,
  };
});

const unsorted = await Astro.glob("./*.{md,mdx,astro}");

const articles = [
  ...unsorted.map((article) => ({
    title: article.frontmatter.title,
    intro: article.frontmatter.intro,
    url: article.url,
  })),
  ...alphabet.map((article) => ({
    title: `Visiting ${article.data.title}`,
    intro: `A day trip to ${article.data.title}. Part of the alphabet of Île-de-France series.`,
    url: `./alphabet-ile-de-france/${article.slug}`,
  })),
  ...museums,
  ...travel,
].sort((a, b) => a.title.localeCompare(b.title));
---

<Main>
  <h2>Articles</h2>
  <p>
    Here you can find all of my articles! These articles cover some of my favourte things in Paris, personal projects like <i>alphabet of Île-de-France</i> and travelling. You can find the category of articles on the <a href="https://abisummers.com">homepage</a> 
  </p>
  {
    articles.map((article) => (
      <article>
        <h3>{article.title}</h3>
        <p>{article.intro}</p>
        {article.url && (
          <a class="cta" href={article.url}>
            read more
          </a>
        )}
      </article>
    ))
  }
</Main>
