---
import { getCollection } from "astro:content";
import Main from "../../layouts/article.astro";

const alphabet = (await getCollection("alphabet-ile-de-france")).sort(
  (a, b) => a.data.letter - b.data.letter,
);

const unsorted = await Astro.glob("./*.{md,mdx}");

const articles = [
  ...unsorted.map((article) => ({
    title: article.frontmatter.title,
    intro: article.frontmatter.intro,
    url: article.url,
  })),
  ...alphabet.map((article) => ({
    title: `Visiting ${article.data.title}`,
    intro: `A day trip to ${article.data.title}. Part of the alphabet of Île-de-France series.`,
    url: `./alphabet-ile-de-france/${article.slug}`,
  })),
];
---

<Main>
  <h2>Articles</h2>
  <p>Here you can find all of my articles related to visiting places within Île-de-France (planning a day trip, places to visit etc) along with some of my favourite things to do in Paris.</p>
  {
    articles.map((article) => (
      <article>
        <h3>{article.title}</h3>
        <p>{article.intro}</p>
        {article.url && (
          <a class="cta" href={article.url}>
            read more
          </a>
        )}
      </article>
    ))
  }
</Main>
