---
import { getCollection } from "astro:content";
import Main from "../../layouts/article.astro";
// import latinize from 'latinize'

const alphabet = await getCollection("alphabet-ile-de-france");

const museums = (await getCollection("museums")).map((m) => {
  return {
    title: `${m.data.museumName}: ${m.data.exhibitionName}`,
    intro: m.data.intro,
    url: `./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`,
    // url: latinize(`./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`),
  };
});

const unsorted = await Astro.glob("./*.{md,mdx,astro}");

const articles = [
  ...unsorted.map((article) => ({
    title: article.frontmatter.title,
    intro: article.frontmatter.intro,
    url: article.url,
  })),
  ...alphabet.map((article) => ({
    title: `Visiting ${article.data.title}`,
    intro: `A day trip to ${article.data.title}. Part of the alphabet of Île-de-France series.`,
    url: `./alphabet-ile-de-france/${article.slug}`,
  })),
  ...museums,
].sort((a, b) => a.title.localeCompare(b.title));
---

<Main>
  <h2>Articles</h2>
  <p>
    Here you can find all of my articles related to visiting places within
    Île-de-France (planning a day trip, museums, tip etc) along with some of my
    favourite things to do in Paris.
  </p>
  {
    articles.map((article) => (
      <article>
        <h3>{article.title}</h3>
        <p>{article.intro}</p>
        {article.url && (
          <a class="cta" href={article.url}>
            read more
          </a>
        )}
      </article>
    ))
  }
</Main>
