---
import { getCollection } from "astro:content";
import Main from "../../layouts/article.astro";
// import latinize from 'latinize'

const alphabet = (await getCollection("alphabet-ile-de-france")).map(
  (article) => ({
    title: `Visiting ${article.data.title}`,
    intro: `A day trip to ${article.data.title}. Part of the alphabet of ﾃ四e-de-France series.`,
    url: `./alphabet-ile-de-france/${article.slug}`,
  }),
);

const museums = (await getCollection("museums")).map((m) => {
  return {
    title: `${m.data.museumName}: ${m.data.exhibitionName}`,
    intro: m.data.intro,
    url: `./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`,
    // url: latinize(`./museums/${m.data.museumName.replace(/\s+/g, "-").toLowerCase()}-${m.data.exhibitionName.replace(/\s+/g, "-").toLowerCase()}`),
  };
});

const travel = (await getCollection("travel")).map((article) => {
  return {
    title: article.data.title,
    intro: article.data.intro,
    url: `./travel/${article.data.title.replace(/\s+/g, "-").toLowerCase().replace(/\---/g, "-")}`,
  };
});

const guidedThroughParis = (await getCollection("guide")).map((article) => {
  return {
    title: `Guided through Paris: ${article.data.title}`,
    intro: article.data.description,
    url: `./guide/${article.slug}`,
  };
});

const unsorted = await Astro.glob("./*.{md,mdx,astro}");

const articles = [
  ...unsorted.map((article) => ({
    title: article.frontmatter.title,
    intro: article.frontmatter.intro,
    url: article.url,
  })),
  ...museums,
  ...travel,
  ...guidedThroughParis,
].sort((a, b) => a.title.localeCompare(b.title));
---

<Main>
  <h2>Articles</h2>
  <p>
    Here you can find all of my articles! These articles cover some of my
    favourte things in Paris, personal projects like <i
      >alphabet of ﾃ四e-de-France</i
    > and travelling. You can find the category of articles on the <a
      href="https://abisummers.com">homepage</a
    >
  </p>
  {
    articles.map((article) => (
      <article>
        <h3>{article.title}</h3>
        <p>{article.intro}</p>
        {article.url && (
          <a class="cta" href={article.url}>
            read more
          </a>
        )}
      </article>
    ))
  }
  <br />
  <hr />

  <h3>Alphabet of ﾃ四e-de-France</h3>
  <p>
    Here you can find all of my articles related to my ﾃ四e-de-France project.
    This is an ongoing project, for me to discover some new locations within the
    region.
  </p>

  <p>
    I love looking discovering the hidden things, both in Paris and outside of
    it.
  </p>

  {
    alphabet.map((article) => (
      <article>
        <h3>{article.title}</h3>
        <p>{article.intro}</p>
        {article.url && (
          <a class="cta" href={article.url}>
            read more
          </a>
        )}
      </article>
    ))
  }
</Main>
