---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const collection = (await getCollection("alphabet-ile-de-france")).sort(
  (a, b) => a.data.letter - b.data.letter,
);

/**
 * Returns the alphabetical position (1-based) of an uppercase letter.
 * @param letter uppercase alphabetical letter
 */
// function letterToPosition(letter: string) {
//   return letter.charCodeAt(0) - "A".charCodeAt(0) + 1;
// }

/**
 * Returns the uppercase alphabetical letter at a given position (0-based).
 * @param position alphabetical position (0-based)
 */
function positionToLetter(position: number) {
  return String.fromCharCode("A".charCodeAt(0) + position);
}
---

<Main showLanguageSwitcher={false} title="The Alphabet of Île-de-France">
  <style>
    .letter-list {
      list-style-type: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
    }
    .letter-list li {
      border: 0.1em solid currentColor;
      padding: 0.5em;
      text-align: center;
    }

    .letter-list li.unknown {
      color: gray;
    }
  </style>
  <h2>The Alphabet of Île-de-France</h2>
  <p>
    A project to discover a different place in Île-de-France, one letter of the
    alphabet at a time.
  </p>
  <ol class="letter-list">
    {
      Array.from({ length: 26 }, (_, i) => positionToLetter(i)).map(
        (letter) => {
          const entry = collection.find(
            (entry) => entry.data.letter === letter,
          );

          if (!entry) {
            return (
              <li value={letter} class="unknown">
                <h3>{letter}</h3>
                <p>?</p>
                <p>?</p>
              </li>
            );
          }

          return (
            <li value={letter}>
              <a>
                <h3>{letter}</h3>
                {
                  <a href={"/articles/alphabet-ile-de-france/" + entry.slug}>
                    {entry.data.title}
                  </a>
                }
                <p>
                  {entry.data.date.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </p>
              </a>
            </li>
          );
        },
      )
    }
  </ol>
</Main>
