---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const collection = (await getCollection("alphabet-ile-de-france")).sort(
  (a, b) => a.data.letter - b.data.letter,
);

/**
 * Returns the alphabetical position (1-based) of an uppercase letter.
 * @param letter uppercase alphabetical letter
 */
// function letterToPosition(letter: string) {
//   return letter.charCodeAt(0) - "A".charCodeAt(0) + 1;
// }

/**
 * Returns the uppercase alphabetical letter at a given position (0-based).
 * @param position alphabetical position (0-based)
 */
function positionToLetter(position: number) {
  return String.fromCharCode("A".charCodeAt(0) + position);
}
---

<Main showLanguageSwitcher={false} title="The Alphabet of Île-de-France">
  <style>
    .letter-list {
      list-style-type: none;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1em;
    }
    .letter-list li {
      border: 0.1em solid currentColor;
      text-align: center;
    }

    .letter-list li.unknown {
      color: gray;
    }

    .letter-list li * {
      padding: 0.5em;
      display: block;
    }

    .letter-list li a {
      text-decoration: none;
      color: inherit;
    }

    .letter-list li a:hover {
      background-color: var(--contrast);
    }

    .letter-list li .title {
      text-decoration: underline;
    }
    progress {
      width: 100%;
      border: 0.1em solid currentColor;
      background: transparent;
    }
    progress::-webkit-progress-bar {
      background: transparent;
    }
    progress::-webkit-progress-value {
      background: currentColor;
    }
  </style>
  <h2>The Alphabet of Île-de-France</h2>
  <p>
    A project to discover a different place in Île-de-France, one letter at a
    time.
  </p>
  <p>
    My goal with this project is to explore places that are close to home - you
    don't always need to travel far to see something new. In Île-de-France,
    there really is lot to see depending on what you're looking for, from towns
    with a lot of historical importance to forests where you can go hiking.
  </p>
  <p>
    I will be visiting some of the more known places like <a
      href="/articles/alphabet-ile-de-france/a-auvers-sur-oise"
      >Auvers-sur-Oise</a
    >, but I will also be going to some places that are less commonly visited.
    All of these locations will be accessible via public transport using a
    <a href="/articles/navigo">Navigo</a> (a travel card for Île-de-France).
  </p>
  <p>
    Any suggestions on where I should visit next? You can reach me via email at
    <strong
      ><a href="mailto:contact@abisummers.com">contact@abisummers.com</a
      ></strong
    > or via instagram at <strong
      ><a href="https://www.instagram.com/abisummers/">@abisummers</a></strong
    >.
  </p>
  <progress
    value={collection.length}
    max="26"
    title={`progress: ${collection.length} out of 26 places visited`}
  ></progress>
  <ol class="letter-list">
    {
      Array.from({ length: 26 }, (_, i) => positionToLetter(i)).map(
        (letter) => {
          const entry = collection.find(
            (entry) => entry.data.letter === letter,
          );

          if (!entry) {
            return (
              <li value={letter} class="unknown">
                <div>
                  <h3>{letter}</h3>
                  <p>?</p>
                  <p>?</p>
                </div>
              </li>
            );
          }

          return (
            <li value={letter}>
              <a href={"/articles/alphabet-ile-de-france/" + entry.slug}>
                <h3>{letter}</h3>
                <p class="title">{entry.data.title}</p>
                <p>
                  {entry.data.date.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </p>
              </a>
            </li>
          );
        },
      )
    }
  </ol>
</Main>
