---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const museumCollection = await getCollection("museums");

function currentExhibitions() {
  return (
    museumCollection.filter((museum) => {
      return new Date(museum.data.endDate) >= new Date();
    }) || []
  );
}

function pastExhibitions() {
  return (
    museumCollection.filter((museum) => {
      return new Date(museum.data.endDate) <= new Date();
    }) || []
  );
}
---

<Main showLanguageSwitcher={false} title="museums">
  <style>
    .date {
      font-style: italic;
      font-size: 0.8em;
    }
  </style>
  <h2>Museums in Paris</h2>
  <p>
    I love spending time inside museums. I love learning about history,
    exploring art and reflecting on what I see and how it makes me feel.
  </p>
  <p>
    I'm not very good with words, but I'm hoping that by writing an article, it
    will help me reflect on any takeaways that I have and will encourage me to
    research things in more depth.
  </p>
  <p>
    I would love to exchange any thoughts about the exhibitions, because even if
    two people look at the same piece of art, the takeaways can be different.
    It's one of the many things I love about exhanging thoughts.
  </p>
  <p>
    You can reach me via instagram at <strong
      ><a href="https://www.instagram.com/abisummers/">@abisummers</a></strong
    > if you want to share your experiences or any exhibitions that you would recommend!
  </p>
  <div>
    <h3>Exhibitions that are currently active</h3>
    {
      currentExhibitions().map((article) => {
        if (article) {
          return (
            <li value={article.data.museumName}>
              <a href={"/articles/museums/" + article.slug}>
                {article.data.museumName}
              </a>
              : {article.data.intro}
              <p class="date">
                Exhibition date:{" "}
                {article.data.Startdate.toLocaleDateString("en-uk", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}{" "}
                to{" "}
                {article.data.endDate.toLocaleDateString("en-uk", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                })}{" "}
              </p>
            </li>
          );
        }
      })
    }
  </div>
  {
    pastExhibitions().length ? (
      <div>
        <h3>Exhibitions that have passed</h3>
        {pastExhibitions().map((article) => {
          if (article) {
            return (
              <li value={article.data.museumName}>
                <a href={"/articles/museums/" + article.slug}>
                  {article.data.museumName}
                </a>
                : {article.data.intro}
                <p class="date">
                  Exhibition date:{" "}
                  {article.data.Startdate.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}{" "}
                  to{" "}
                  {article.data.endDate.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}{" "}
                </p>
              </li>
            );
          }
        })}
      </div>
    ) : (
      ""
    )
  }
</Main>
