---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const museumCollection = await getCollection("museums");

function currentExhibitions() {
  return (
    museumCollection.filter((museum) => {
      return new Date(museum.data.endDate) >= new Date();
    }) || []
  );
}

function pastExhibitions() {
  return (
    museumCollection.filter((museum) => {
      return new Date(museum.data.endDate) <= new Date();
    }) || []
  );
}
---

<Main showLanguageSwitcher={false} title="museums">
  <style>
    .date {
      font-style: italic;
      font-size: 0.8em;
    }
  </style>
  <h2>Museums in Paris</h2>
  <p>
    I love spending time inside museums. I love learning about history,
    exploring art and reflecting on what I see and how it makes me feel.
  </p>
  <p>
    I'm not very good with words, but I'm hoping that by writing an article, it
    will help me reflect on any takeaways that I have and will encourage me to
    research things in more depth. I'm also hoping that with practice, I will be
    able to express my thoughts more freely
  </p>
  <p>
    I would love to exchange any thoughts about the exhibitions, because even if
    two people look at the same piece of art, the takeaways can be different.
    It's one of the many things I love about exhanging thoughts.
  </p>
  <p>
    You can reach me via instagram at <strong
      ><a href="https://www.instagram.com/abisummers/">@abisummers</a></strong
    > if you want to share your experiences or any exhibitions that you would recommend!
  </p>
  <p>
    These articles are broken down into two categories, exhibitions that are
    still active and ones that have ended. I know that sometimes when I'm
    looking for exhibitions I want to know which ones are active and which ones
    are going to be ending soon.
  </p>
  <p>
    I have created a list of museums outside of Paris which you can find <a
      href="https://abisummers.com/articles/museums-outside-paris/">here</a
    >. This article contains the name of the musuem, a brief description and
    their location.
  </p>
  <p>
    Since I visit a lot of museums I have three different subscription cards.
    You can find more details about them <a
      href="https://abisummers.com/articles/subscriptions/">here</a
    >
  </p>
  <div>
    <h3>Exhibitions that are currently active</h3>
    {
      currentExhibitions()
        .filter((exhibition) => exhibition.data.country === "FR")
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.museumName}>
                <!-- prettier-ignore -->
                <a href={"/articles/museums/" + article.slug}
                  >{article.data.museumName}</a
                >: {article.data.exhibitionName}
                <p class="date">
                  Exhibition date:{" "}
                  {article.data.Startdate.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}{" "}
                  to{" "}
                  {article.data.endDate.toLocaleDateString("en-uk", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
                </p>
              </li>
            );
          }
        })
    }
  </div>
  {
    pastExhibitions().length ? (
      <div>
        <h3>Exhibitions that have passed</h3>
        {pastExhibitions()
          .filter((exhibition) => exhibition.data.country === "FR")
          .map((article) => {
            if (article) {
              return (
                <li value={article.data.museumName}>
                  <!-- prettier-ignore -->
                  <a href={"/articles/museums/" + article.slug}
                    >{article.data.museumName}</a
                  >: {article.data.exhibitionName}
                  <p class="date">
                    Exhibition date:{" "}
                    {article.data.Startdate.toLocaleDateString("en-uk", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}{" "}
                    to{" "}
                    {article.data.endDate.toLocaleDateString("en-uk", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}{" "}
                  </p>
                </li>
              );
            }
          })}
      </div>
    ) : (
      ""
    )
  }
  <br />
  <br />
  <br />
  {
    (
      <div>
        <h3>Exhibitions outside of France</h3>
        <p>
          This blog collection is mostly about thoughts on Paris museums
          (because that's where I live), but I also want to write about museums
          that I visit when travelling. Since this is still a new collection, it
          makes sense for me to keep it all on one page with a small break
          between the two different types - this will probably change as my blog
          evolves
        </p>
        {museumCollection
          .filter((exhibition) => exhibition.data.country !== "FR")
          .map((article) => {
            if (article) {
              return (
                <li value={article.data.museumName}>
                  <!-- prettier-ignore -->
                  <a href={"/articles/museums/" + article.slug}
                    >{article.data.museumName}</a
                  >: {article.data.exhibitionName}
                  <p class="date">
                    Exhibition date:{" "}
                    {article.data.Startdate.toLocaleDateString("en-uk", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}{" "}
                    to{" "}
                    {article.data.endDate.toLocaleDateString("en-uk", {
                      year: "numeric",
                      month: "long",
                      day: "numeric",
                    })}{" "}
                  </p>
                </li>
              );
            }
          })}
      </div>
    )
  }
</Main>
