---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const guideCollection = await getCollection("guide");
---

<Main showLanguageSwitcher={false} title="guide">
  <h2>Guided through Paris</h2>
  <p>
    I love Paris, there's so much to do here, from place to eat, places to
    learning about French histroy & culture and different events. Even after
    living here for many years, I'm still constantly finding new things to
    inspire me.
  </p>
  <p>
    Since living here, I've gave many tours of the city, and getting to take
    people around always reminds me of how much I love the city.
  </p>
  <p>
    Here you can find some of tips and tricks to visiting Paris, from places to
    visit and things to watch out for (like scams)
  </p>
  <p>
    I often share things on Instagram, <a
      href="https://www.instagram.com/abisummers/">@abisummers</a
    >, about things to do in Paris.
  </p>

  <div>
    <h3>Personalised tours</h3>

    <p>
      Here you can read a bit about the types of tours that I offer. Paris has
      something for everyone, and I would love to be able to make your trip
      special!
    </p>

    {
      guideCollection
        .filter((article) => article.data.themes.includes("tour"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>

  <br />
  <div>
    <h3>Beginners guide</h3>
    <p>
      Here you can find my beginners guide! The essential things to know on your
      first visit to Paris like avoiding scams, and getting around using public
      transport
    </p>
    <p>
      As a tour guide, I also offer personalised tours, you can find more about
      that <a href="/articles/guide/visit-paris">here</a>
    </p>! I want everyone to enjoy their Paris experience, and believe that
    Paris has something for everyone.
    {
      guideCollection
        .filter((article) => article.data.themes.includes("how-to"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>
  <br />
  <div>
    <h3>Activities in Paris</h3>
    <p>Here you can find some of my favourite things to do in Paris!</p>
    {
      guideCollection
        .filter((article) => article.data.themes.includes("activity"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>

  <div>
    <h3>French food</h3>

    <p>
      Here you can find an overview on some of the important parts of French
      food.
    </p>
    <p>France is known for their food, it's something they take seriously!</p>

    {
      guideCollection
        .filter((article) => article.data.themes.includes("food"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>
</Main>
