---
import { getCollection } from "astro:content";
import Main from "../../../layouts/article.astro";

const guideCollection = await getCollection("guide");
---

<Main showLanguageSwitcher={false} title="guide">
  <h2>Guided through Paris</h2>
  <p>
    Hi, I'm Abi and I'm a tour guide who's been living in Paris since 2016! I
    love getting to show people the magic of the city, through telling stories,
    answering questions and helping you get around. I really believe that Paris
    has something for everyone.
  </p>
  <p>
    I love it living here! There's always so many possibilites on how to spend a
    day in Paris, from museums, places to eat and the different events. Every
    day, I find new things in the city to inspire me.
  </p>
  <p>
    Since living here, I've gave many tours of the city, and getting to take
    people around always reminds me of how much I love the city.
  </p>
  <p>
    Here you can find some of tips and tricks to visiting Paris, from places to
    visit and things to watch out for (like scams)
  </p>
  <p>
    I often share things on Instagram, <a
      href="https://www.instagram.com/abisummers/">@abisummers</a
    >, about things to do in Paris like upcoming events.
  </p>

  <div>
    <h3>Personalised tours</h3>

    <p>
      Here you can read a bit about the types of tours that I offer. Paris has
      something for everyone, and I would love to be able to make your trip
      special!
    </p>

    {
      guideCollection
        .filter((article) => article.data.themes.includes("tour"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>

  <br />
  <div>
    <h3>Beginners guide</h3>
    <p>
      Here you can find my beginners guide! The essential things to know on your
      first visit to Paris like scams to watch out for, picking restaurants and
      getting around using public transport (public transport is something I am
      passionate about)
    </p>
    {
      guideCollection
        .filter((article) => article.data.themes.includes("how-to"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>
  <br />

  <div>
    <h3>Tourist attractions</h3>
    <p>Tips and tricks for enjoying the tourist attractions around the city!</p>
    <p>
      There can be a lot of negative connotations around the toursty places,
      espeically in big cities like Paris. But usually places are popular for a
      reason! Here you can find my advice on making the most out of these places.
    </p>
    {
      guideCollection
        .filter((article) => article.data.themes.includes("tourist-attraction"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>
  <br />
  <div>
    <h3>Activities in Paris</h3>
    <p>Here you can find some of my favourite things to do in Paris!</p>
    {
      guideCollection
        .filter((article) => article.data.themes.includes("activity"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>

  <div>
    <h3>French food</h3>

    <p>
      France is known for their food, it's something they take seriously! Here
      you can find an overview on some of the important parts of French food.
    </p>

    {
      guideCollection
        .filter((article) => article.data.themes.includes("food"))
        .map((article) => {
          if (article) {
            return (
              <li value={article.data.title}>
                <a href={"/articles/guide/" + article.slug}>
                  {article.data.title}
                </a>
                : {article.data.description}
              </li>
            );
          }
        })
    }
  </div>

  <br />
  <hr />

  <p>
    If you found any of these articles useful and would like to leave a small
    tip, you can <a href="https://buymeacoffee.com/abisummers"
      >buy me a coffee</a
    >!
  </p>
</Main>
